body {
    background-image: url('../imagens/wallpaper001.jpg');
    background-attachment: fixed;
    margin: 0px;

}

div {
    width: 100vw;
    height: 80vh;
    margin: 8px 0px 8px 0px;
    display: flex;
    justify-content: space-around;

}


div.quadrado {
    border: 2px solid black;
    border-radius: 8px;
    background-color: lightgrey; 
    float: left;
    width: 30%;
    height: 30%;
}


div#q1 {
    background-color: lightslategray;

}
div#q2 {
    background-image: linear-gradient(to bottom, yellow, red);
}
div#q3 {
    background-image: url('../imagens/pattern001.png');
    
}